/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #343537; /* Header background color (blue) */
    color: #fff; /* Text color (white) */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    position: fixed; /* Fix the header position */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it full-width */
    z-index: 100; /* Ensure it's above other elements */
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header img {
    width: 50px; /* Adjust logo size as needed */
}

.header h1 {
    font-size: 24px;
}





.sidebar {
    position: fixed; /* Fix the sidebar position */
    top: 15%; /* Position it at the top of the viewport */
    /* Sidebar background color (blue) */
    color: white;
    width: 10%;
    height: 100%; /* Make it the full height of the viewport */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width */
    z-index: 99; /* Ensure it's above other elements except the header */
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgb(35, 35, 36), rgb(49, 51, 53));
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Only include background-color in the transition */
}

.sidebar button:hover {
    background: linear-gradient(to right, rgb(67, 161, 211), rgb(2, 9, 14));
    color: rgb(245, 241, 241);
    /* Change text color on hover */
    padding: 20px;
}

/* Main content area */
.content {
    margin-left: 250px; /* Match the width of the sidebar */
    padding: 20px;
    position: absolute;
    top: 20%;
}

#myinfo{
    background-color: #007bff;
}

